# ARQ GEN - .gitignore
.venv/
build/
dist/
__pycache__/
*.pyc
*.pyo
logs/
output/
backups/
*.arqgen
!resources/**/*.arqgen
config/python_home.txt
resources/catalogs/*.db
plugins/external/*
!plugins/external/.gitkeep
